<div class="container">
  <div class="row">
    <div class="col">
      <a style="cursor: pointer;"
         [routerLink]="['../home']"
         routerLinkActive="active">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Slalom_Consulting_logo.jpg"
          alt="Slalom"
          class="img-responsive"
          style="max-height: 70px;">
      </a>
    </div>
    <!--<div class="bottom-align-text col-sm-6">-->
      <!--<h4 class="list-group-item-heading">{{ heading }}</h4>-->
    <!--</div>-->
    <!--<div class="bottom-align-text col-sm-6">-->
      <!--<h6 class="list-group-item-text">{{ description2 }}</h6>-->
    <!--</div>-->
    <!--<div class="col-fluid bottom-align-text">-->
      <!--{{ heading }}-->
    <!--</div>-->
    <!--<div class="col-fluid bottom-align-text">-->
      <!--{{ description2 }}-->
    <!--</div>-->
    <div class="col-fluid col-sm-7">
      <div class="row">
        <div class="col col-sm-4"><h3>{{ heading }}</h3></div>
        <div class="col col-sm-8"><h6>{{ description2 }}</h6></div>
      </div>
    </div>
  </div>
</div>
