<div class="container">
  <div class="row">
    <div class="col">
      <a style="cursor: pointer;"
         [routerLink]="['../home']"
         routerLinkActive="active">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Slalom_Consulting_logo.jpg"
          alt="Slalom"
          class="img-responsive"
          style="max-height: 70px;">
      </a>
    </div>
    <div class="col col-sm-8 bottom-align-text"><h2>{{ heading }}</h2></div>
    <div class="col col-sm-4 bottom-align-text"><h6>{{ description2 }}</h6></div>
  </div>
</div>
<hr>
